   <!-- Counter Area -->
   <div class="counter-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <i class="flaticon-online-course"></i>
                    <h3><span class="odometer" data-count="15000">00000</span>+</h3>
                    <p>Courses & videos</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <i class="flaticon-student"></i>
                    <h3><span class="odometer" data-count="145000">000000</span>+</h3>
                    <p>Students enrolled</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <i class="flaticon-online-course-1"></i>
                    <h3><span class="odometer" data-count="10000">00000</span>+</h3>
                    <p>Courses instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <i class="flaticon-customer-satisfaction"></i>
                    <h3><span class="odometer" data-count="100">000</span>%</h3>
                    <p>Satisfaction rate</p>
                </div>
            </div>
        </div>
    </div>
</div>